<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Steganography SignUp</title>
    <link rel="stylesheet" href="./style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
    body{
      background-image:linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.4)),url('https://www.schwab.com/learn/sites/g/files/eyrktu1246/files/Getty_850495466_3x2_0.jpg');
      background-size:100% 100%;
       background-position:center;
      background-attachment:fixed;
      }
      .sb{
        color: white;
      }
    </style>
</head>


<body>

<div id="form">
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
            <div id="userform">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active"><a href="#signup"  role="tab" data-toggle="tab">Sign up</a></li>
<!--                    <li><a href="#login"  role="tab" data-toggle="tab">Log in</a></li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="signup">
                        <h2 class="text-uppercase text-center sb"> Sign Up for Free</h2>
                        <form action="/login" method="POST">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label class="sb">First Name<span class="req">*</span> </label>
                                        <input type="text" class="form-control" id="first_name" name="firstName" required data-validation-required-message="Please enter your name." autocomplete="off">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label class="sb"> Last Name<span class="req">*</span> </label>
                                        <input type="text" class="form-control" id="last_name" name="lastName" required data-validation-required-message="Please enter your name." autocomplete="off">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sb"> Your Email<span class="req">*</span> </label>
                                <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address." autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label class="sb"> Your Phone<span class="req">*</span> </label>
                                <input type="tel" class="form-control" id="inputNumber" name="phone_no" required data-validation-required-message="Please enter your phone number." autocomplete="off" onkeyup="validateInput()">
                                <span id="error" style="color: red;"></span>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label for="password" class="sb"> Password<span class="req">*</span> </label>
                                <input type="password" class="form-control" id="password" name="password" required data-validation-required-message="Please enter your password" autocomplete="off">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="mrgn-30-top">
                                <button type="submit" class="btn btn-larger btn-block"/>
                                Sign up
                                </button>
                            </div>
                        </form>
                    </div>
<!--                    <div class="tab-pane fade in" id="login">-->
<!--                        <h2 class="text-uppercase text-center"> Log in</h2>-->
<!--                        <form id="loginNew">-->
<!--                            <div class="form-group">-->
<!--                                <label class="sb"> Your Email<span class="req">*</span> </label>-->
<!--                                <input type="email" class="form-control" id="emailN" required data-validation-required-message="Please enter your email address." autocomplete="off">-->
<!--                                <p class="help-block text-danger"></p>-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label class="sb"> Password<span class="req">*</span> </label>-->
<!--                                <input type="password" class="form-control" id="passwordN" required data-validation-required-message="Please enter your password" autocomplete="off">-->
<!--                                <p class="help-block text-danger"></p>-->
<!--                            </div>-->
<!--                            <div class="mrgn-30-top">-->
<!--                                <button type="submit" class="btn btn-larger btn-block sb"/>-->
<!--                                Log in-->
<!--                                </button>-->
<!--                            </div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<!-- partial -->
<script  src="./script.js"></script>
<script>
    function validateInput() {
      var input = document.getElementById("inputNumber");
      var error = document.getElementById("error");

      var number = input.value.trim();
      var isValid = /^\d{10}$/.test(number);

      if (isValid) {
        // Clear any existing error message
        error.innerHTML = "";
      } else {
        // Display the error message
        error.innerHTML = "Please enter a 10-digit number.";
      }
    }
  </script>
</html>